html,
body {
    font-family: 'Microsoft JhengHei';
}

.text-center {
    text-align: center !important;
}

.w-full {
    width: 100% !important;
}

.flex {
    display: flex !important;
}

.align-center {
    align-items: center !important;
}

.justify-center {
    justify-content: center !important;
}

.el-menu {
    border-right: none !important;
}